<head>
  {% load static %}
  <title>AI</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, user-scalable=no, minimal-ui" />
  <!-- vuetify 基本字體&icon -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" />
  <!-- 擴充material icon -->
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">

  <link href="{% static 'js/node_modules/vuetify/dist/vuetify.min.css'%}" rel="stylesheet">
  <link href="{% static 'js/node_modules/ag-grid-community/dist/styles/ag-grid.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'js/node_modules/ag-grid-community/dist/styles/ag-theme-alpine-dark.min.css' %}" rel="stylesheet"/>
 
</head>

<body>
  <!-- <img style="
    position:fixed !important;
    top:50%;left: 50%;
    transform: translate(-50%, -50%);
    width:200%;
    z-index: 1;
    " src="./static/image/hero-glow.svg" /> -->
  <div id="app">
    <v-app>
      <v-app-bar app dense elevation="0" scroll-off-screen  style="background-color: rgb(40, 44, 52);">
        <v-app-bar-nav-icon v-on:click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>AI PlayGround(beta)</v-toolbar-title>
      </v-app-bar>
      <v-navigation-drawer app v-model="drawer" style="background-color: rgb(40, 44, 52);">
        <v-list dense nav>
          <v-subheader>數值預測</v-subheader>
          <v-list-item link>
            <v-list-item-icon>
              <v-icon>auto_graph</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>房價預測</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      
      <v-main style="background-color: rgb(33,37,50)">
        <v-container style="max-width: 1500px;">
          {% block mainBody %}

          {% endblock %}
          <template v-show="loading">
            <div>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
            </div>
            <div>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
              <v-skeleton-loader v-show="loading" type="list-item-three-line"></v-skeleton-loader>
            </div>
          </template>
        </v-container>
      </v-main>
    </v-app>
  </div>
</body>

 
<script src=" {%  static 'js/node_modules/vue/dist/vue.js' %}"  type="text/javascript" ></script>
<script src=" {%  static 'js/node_modules/vuetify/dist/vuetify.min.js' %}"  type="text/javascript"></script>
<script src=" {%  static 'js/node_modules/axios/dist/axios.js' %}"  type="text/javascript"></script>
<script src=" {%  static 'js/node_modules/ag-grid-community/dist/ag-grid-community.js' %}"  type="text/javascript"></script>

<!-- <script src="../static/js/node_modules/ag-grid-vue/dist/ag-grid-vue.common.js"></script> -->
<!-- type="module" 有defer特性，此外作用域也是獨立的，但可透過註冊全域達到共用 -->
<script>
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  axios.defaults.xsrfCookieName = "csrftoken";
  axios.defaults.withCredentials = true;
</script>
{% block script %}
{% endblock %}