<!-- 繼承base -->
{% extends 'base.html' %}
{% block mainBody %}
<div>
    <v-row v-show="!loading">
        <v-col class="pb-0" cols="12">
            <!-- <div class="mb-2 ">資料集選擇</div> -->
            <v-autocomplete clearable v-model="dataset_value" v-bind:items="dataset_items" filled dense label="選擇訓練資料">
            </v-autocomplete>
        </v-col>
        <v-col class="pt-0" cols="12" v-if="dataset_value">
            <v-tabs v-model="tab">
                <v-tab>資料及描述</v-tab>
                <v-tab>EDA</v-tab>
                <v-tab>模型預測</v-tab>
            </v-tabs>
        </v-col>
        <!-- tab0 -->
        <v-col cols="12" v-show="showData.descr && tab == 0">
            <div class="descr_container" v-html="showData.descr" style="white-space: pre;"></div>
        </v-col>
    </v-row>
    <!-- tab1 -->
    <v-row v-show="!loading && tab==1 ">
        <v-col cols="12">
            <div id="myGrid" style="height:350px;width: 100%;" class="ag-theme-alpine-dark"></div>
        </v-col>
        <v-col cols="12">
            <div id="statistic_gird" style="height:350px;width: 100%;" class="ag-theme-alpine-dark"></div>
        </v-col>
        <v-col cols="12">
            <img v-bind:src="distributed_image" style="width:100%;" />
        </v-col>
        <v-col cols="12">
            <img v-bind:src="trend_image" style="width:100%;" />
        </v-col>
        <v-col cols="12">
            <img v-bind:src="pearson_image" style="width:50%;" />
        </v-col>
    </v-row>

    <v-row v-show="!loading && tab==2">
        <v-col cols="12">
            <v-autocomplete v-model="model_value" v-bind:items="model_item" label="選擇訓練模型" chips clearable small-chips
                deletable-chips></v-autocomplete>
        </v-col>
        <v-col cols="12">
            <div class="d-flex">
                <v-slider v-model="slicenum" thumb-label color="orange darken" track-color="green lighten-1"
                    v-bind:label="train_percent"></v-slider>
                <div class="ml-3" style="color: hsla(0,0%,100%,.7);"> [[test_percent]]</div>
            </div>
            <div>資料集比數 : [[showData.origin_rowdata.length]]</div>
            <div>訓練資料筆數 : [[split_train_data]]</div>
            <div>測試資料筆數 : [[showData.origin_rowdata.length-split_train_data]]</div>
        </v-col>
        <v-col cols="6" v-show="predict_chart">

            <img v-bind:src="predict_chart" style="width:100%;" />
        </v-col>
        <v-col cols="6" v-show="coef_chart">

            <img v-bind:src="coef_chart" style="width:100%;" />
        </v-col>
        <v-col v-show="train_data_r2">
            <div> 訓練 : [[train_data_r2]]</div>
            <div> MSE : [[validat_data_mse]] </div>
            <div> RMSE : [[validat_data_rmse]]</div>
            <div> 測試 : [[validat_data_r2]]</div>
        </v-col>
        <v-col cols="12">
            <v-btn color="blue-grey" v-on:click="train" block>訓練</v-btn>
        </v-col>
    </v-row>

</div>
{% endblock %}
{% block script %}
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify({
            theme: {
                dark: true,
                themes: {
                    dark: {
                        primary: "#00ffff"
                    }
                }
            }
        }),
        data() {
            return {
                tab: 0,
                drawer: true,
                loading: false,
                dataset_items: ["房價資料", "糖尿病資料"],
                dataset_value: "",

                //資料集描述
                showData: {
                    descr: null,
                    origin_column: [],
                    origin_rowdata: [],
                    descript_column: [],
                    descript_rowdata: [],
                },

                //EDA
                distributed_image: null,
                trend_image: null,
                pearson_image: null,
                gridOptions: {
                    // defaultColDef: { sortable: true, filter: true },
                    rowSelection: 'multiple', // allow rows to be selected
                    animateRows: true, // have rows animate to new positions when sorted
                    headerHeight: 35,
                    rowHeight: 30,
                    defaultColDef: {
                        width: 100,
                        sortable: true,
                        //editable: true, 
                        //filter: 'agTextColumnFilter',
                        resizable: true,
                        type: 'rightAligned'
                    },
                    onGridReady: function (params) {
                        params.api.sizeColumnsToFit();
                    }
                },
                statistic_gridOptions: {
                    rowSelection: 'multiple', // allow rows to be selected
                    animateRows: true, // have rows animate to new positions when sorted
                    headerHeight: 35,
                    rowHeight: 30,
                    defaultColDef: {
                        width: 100,
                        sortable: true,
                        //editable: true, 
                        //filter: 'agTextColumnFilter',
                        resizable: true,
                        type: 'rightAligned'
                    },
                    onGridReady: function (params) {
                        params.api.sizeColumnsToFit();
                    }
                },

                //模型預測
                slicenum: 70,
                model_item: ["LinearRegression", "PolynomialRegression", "LassoRegression", "MLP"],
                model_value: "LinearRegression",
                train_data_r2: 0,
                validat_data_mse: 0,
                validat_data_rmse: 0,
                validat_data_r2: 0,
                predict_chart: null,
                coef_chart: null,


            }
        },
        computed: {
            train_percent() {
                return `訓練 ${this.slicenum} %`
            },
            test_percent() {
                return `測試 ${100 - this.slicenum} %`
            },
            split_train_data() {
                let data_length = this.showData.origin_rowdata.length
                //debugger
                return Math.floor(this.slicenum / 100 * data_length)
            }
        },
        created() {

        },
        mounted() {
            const GridDiv = document.getElementById("myGrid");
            new agGrid.Grid(GridDiv, this.gridOptions);
            const statistic_gird = document.getElementById("statistic_gird");
            new agGrid.Grid(statistic_gird, this.statistic_gridOptions);
        },
        watch: {
            async dataset_value(val) {
                    //訓練資料
                    this.train_data_r2 = null
                    this.validat_data_mse = null
                    this.validat_data_rmse = null
                    this.validat_data_r2 = null
                    //圖表
                    this.predict_chart = null
                    this.coef_chart = null
                this.loading = true
                await axios.post('./get_dataset/', { datasset_name: val })
                    .then((resp) => {
                        let data = resp.data
                        this.showData = data
                        this.distributed_image = data.distributed_image
                        this.trend_image = data.trend_image
                        this.pearson_image = data.pearson_image
                        this.init_table()
                        this.init_statistic_table()
                    })
                    .catch((e) => {
                        console.error(e)
                    })
                    .finally(() => {
                        this.loading = false
                    })

            },

        },
        methods: {
            init_table() {
                let columnDefs = this.showData.origin_column.map(column => {
                    return {
                        field: column,
                        pinned: column == "TARGET" ? 'left' : '',
                        cellStyle: () => {
                            if (column == "TARGET") {
                                return { background: "rgb(40, 44, 52)" }
                            }
                        },
                        valueFormatter: (params) => {
                            if (!isNaN(params.value)) {

                                return params.value.toFixed(2)
                            }
                        },
                        cellRenderer: (cell) => {
                            return `<div style="text-align:right">${isNaN(cell.value) ? cell.value : cell.value.toFixed(2)
                                }</div>`
                        }
                    }
                })
                this.gridOptions.columnDefs = columnDefs
                this.gridOptions.api.setRowData(this.showData.origin_rowdata)
                this.gridOptions.api.redrawRows()
                this.gridOptions.api.setColumnDefs(this.gridOptions.columnDefs)
                //this.gridOptions.columnApi.autoSizeAllColumns()
            },
            init_statistic_table() {

                let columnDefs = this.showData.descript_column.map(column => {
                    return {
                        field: column,
                        pinned: column == "STATISTICS" ? 'left' : '',
                        valueFormatter: (params) => {
                            if (!isNaN(params.value)) {

                                return params.value.toFixed(2)
                            }
                        },
                        cellStyle: () => {
                            if (column == "STATISTICS") {
                                return { background: "rgb(40, 44, 52)" }
                            }
                        },
                        cellRenderer: (cell) => {
                            //debugger
                            return `<div style="text-align:right">${isNaN(cell.value) ? cell.value : cell.value.toFixed(2)}</div>`
                        }
                    }
                })
                this.statistic_gridOptions.columnDefs = columnDefs
                this.statistic_gridOptions.api.setRowData(this.showData.descript_rowdata)
                this.statistic_gridOptions.api.redrawRows()
                this.statistic_gridOptions.api.setColumnDefs(this.statistic_gridOptions.columnDefs)
            },
            train() {
                axios.post('./train/', {
                    train_size: this.slicenum / 100,
                    dataset: this.dataset_value,
                    model_name: this.model_value
                }).then(resp => {
                    let data = resp.data
                    //訓練資料
                    this.train_data_r2 = data.train_data_r2
                    this.validat_data_mse = data.validat_data_mse
                    this.validat_data_rmse = data.validat_data_rmse
                    this.validat_data_r2 = data.validat_data_r2
                    //圖表
                    this.predict_chart = data.predict_chart
                    this.coef_chart = data.coef_chart
                })
            }
        },

        delimiters: ['[[', ']]'],
        //mixins:[mixinData],
    })

</script>
<style scoped>
    .theme--dark.v-tabs>.v-tabs-bar {
        background: transparent !important;
    }

    .descr_container {
        /* background: linear-gradient(45deg, black, transparent); */
        /* color: #00fff0; */
        padding: 15px;
        border-radius: 5px;
    }

    .v-skeleton-loader__bone {
        background: transparent !important;
    }
</style>
{% endblock %}